body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, rgb(66, 66, 66), rgb(12, 6, 0));
}


.icono {
    padding-right: 50px;
    margin-top: 10px;


}

header {
    /* flex-direction: column; */
    align-items: center;
    /* min-height: 70px; */
    justify-content: center;
    

}

.foto {
    position: relative;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 600px) {
    foto {
        max-width: 90%;
    }
}

footer {

    text-align: center;
    background: linear-gradient(to right, rgb(66, 66, 66), rgb(12, 6, 0));

}


p{
    color: white;
    margin: 10px;
}
.logo {
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
    background: linear-gradient(to right, rgb(66, 66, 66), rgb(12, 6, 0));
}


.logo img {
    height: 50px;
    margin-right: 15px;
   
}

@media (min-width:600px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }


}

.overlay {
    position: absolute;
    margin-top: 10%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    text-align: center;
    max-width: 350px;
}

.overlay h2 {
    color: white;
    font-size: 24px;
}

.overlay input {
    padding: 8px;
    margin-top: 10px;
}